body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}
p,h1,h2,h3 {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: currentColor;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    
}
.container {
        /* width: 1158px; */
        /* padding-left: 15px; */
        /* padding-right: 15px;  */
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
        

        } 
    .header {
       
        border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
       box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
        }
        .header-container {
            display: flex;
            padding-top: 16px;
            padding-bottom: 16px;
    }
    .header-navigation:hover::after {

    }
.header-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    /* margin-right: 76px; */
}
.header-logo-color {
    color: var(--NAVY-BLUE, #2E2F42);
}
.menu-btn {
 margin-left: 133px;
 border-color: transparent;
 background-color: transparent;
 
   
}
.menu-icon {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.header-menu-list {
    /* display: flex; */
    display: none;
   
    gap: 40px;
    align-items: center;
    
   
}
.header-menu-link {
    
    display: block;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* padding-top: 24px; */
    /* padding-bottom: 24px; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover, 
    .header-menu-link:focus {
    color: #404bbf
    }
    .current {
     position: relative; 
     color: #404BBF;  
    }
 .current::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
border-radius: 2px;
background-color: #404BBF;
width: 100%;


}
.header-menu-link:active::after {
background-color: #404BBF;
}
    .header-navigation {
     display: flex;
     align-items: center;
        
    }
    .header-contacts {
        /* display: flex; */
        display: none;
        margin-left: auto;
       
    }
    .header-contacts-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

.header-contacts-item {
        color: var(--SLATE, #434455);
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
       letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
}

.header-contacts-item:hover, 
.header-contacts-item:focus  {
color: #404bbf;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* *********Mob menu*********** */
.mob-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    padding: 24px 24px 40px 16px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.open-btn {

    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    margin-left: auto;
    margin-bottom: 24px;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-svg {
    position: relative;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav {
   
color: var(--NAVY-BLUE, #2E2F42);
 font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-top: 72px;



}
.mob-contacts {
color: var(--SLATE, #434455);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;   
}

.mob-menu-item:not(:last-child) {
   margin-bottom: 40px;
}
.menu-icons-mob {
display: flex;
justify-content: center;
align-items: center;
gap: 40px;   
}
.mob-contacts {

margin-bottom: 48px;
}
.mob-contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.main {
    width: 100%;
/* max-width: 1440px; */
/* padding: 188px 0; */
padding: 72px 52px;
background: var(--NAVY-BLUE, #2E2F42);
background-image: linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
url(../images/bg-mob.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi), (min-resolution: 2dppx) {
    .main {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
url(../images/bg-mob2.jpg);
    }
}


.main-container {
text-align: center;
   
}
  
    
.main-title {
    color: var(--WHITE, #FFF);
    text-align: center;
    /* font-size: 56px; */
    font-size: 36px;
    font-weight: 700;
    /* line-height: 1.07; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    /* max-width: 496px; */
    max-width: 216px;
    margin: 0 auto;
    
}
.button {
    display: block;
        margin-left: auto;
        margin-right: auto;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--IRIS, #4D5AE5);
    cursor: pointer;
    border-radius: 4px;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    /* margin-top: 48px; */
    margin-top: 72px;
   height: 56px;
    min-width: 169px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
   
    
}
.button:hover, .button:focus {
 background: var(--OCEAN, #404BBF);   
}
.description {
/* padding-top: 120px;
padding-bottom: 120px; */
padding-top: 96px;
padding-bottom: 96px;
}
.description-list {
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
    gap: 72px;
    
}
.desc-icons {
    display: none;
    /* display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;
    height: 112px; */
}
.description-item {
/* width: calc((100% - 72px) / 4); */
width: 288px;
}
.description-title {
    text-align: center;
    color: var(--NAVY-BLUE, #2E2F42);
    /* font-size: 20px; */
    font-size: 36px;
    /* font-weight: 500; */
    font-weight: 700;
    /* line-height: 1.2; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
   
}
.description-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    /* font-weight: 400; */
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.team {
    background-color: #F4F4FD;
    /* padding: 120px 0; */
    padding-top: 96px;
    padding-bottom: 96px;
    /* width: 1440px; */
    margin: 0 auto;
    
    
}

.team-title {
margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
   /* gap: 24px; */
  gap: 72px;
  
    
}
.team-members {
    padding: 32px 0;
}
.team-img {
    background: var(--WHITE, #FFF);
}
.team-list-item {
   background-color: #FFFFFF;
   text-align: center;
   width: 264px;
   margin: 0% auto;
   /* width: calc((100% - 72px) / 4); */
  
   border-radius: 0px 0px 4px 4px;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
   
}
.team-job {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 8px;
    /* padding-bottom: 32px;  */
    padding-bottom: 8px;

}
.team-icons {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
}

.svg { 
fill: #f4f4fd;
 }
.class-link {
display: block;
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-icon {
width: 40px;
height: 40px;   
}
.class-link:hover, .class-link:focus {
   background-color: #404bbf;
}

.team-title,
.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.portfolio {
    /* padding-top: 120px; */
    /* padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 24px; */
    row-gap: 48px;
}
.portfolio-content {
padding-left: 16px;
border: 1px solid #e7e9fc;
border-top: none; 
padding-top: 32px;
}
 .portfolio-item {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
       
      
      
        
 }
 .portfolio-list-item {
     /* width: calc((100% - 24px * 2) / 3); */
     width: 100%;
     background: #FFF;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
    
   

 }
 .portfolio-img {
    margin: 0 auto;
}  
.cover-content-wrap {
   position: relative;
   overflow: hidden;  
   width: 100%;
   
}
.portfolio-list-item:hover .cover-text-wrap {
transform: translateY(0%);

}
.cover-text-wrap {
 width: 360px;
 height: 300px;
padding: 40px 32px;
position: absolute; 
top: 0;
background: var(--IRIS, #4D5AE5);
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
width: 100%;
}

.portfolio-descr {
color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 8px;
padding-bottom: 32px; 
 }
.team-job {
     text-align: center;
}




.footer {
    display: flex;
    
    background: var(--NAVY-BLUE, #2E2F42);
    /* margin-top: 120px; */
   
    /* width: 1440px; */
    /* margin: 0 auto; */
    /* padding: 100px 0; */
    padding: 96px 0;

  
}
.footer-list {
    /* margin-right: 120px; */
    width: 100%;
}
.footer-container {
    display: flex;
    /* align-items: baseline; */
   flex-direction: column;
   row-gap: 72px;
   margin: 0;
}
.footer-logo {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
  
    
}
.footer-logo-color {
    color: var(--CLOUD, #F4F4FD);
    
}
.footer-descr {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
   
   
}
.social-media {
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
display: flex;
justify-content: center;
}
.footer-icons {
display:block;
width: 208px;
height: 80px;
margin: 0 auto;

}
.icon-sbscr {
    margin-left: 16px;
}
.ftr {
gap: 16px;

}
.foot:hover, .foot:focus {
    background-color: #31D0AA;
}
.footer-input {
 /* width: 264px; */
 width: 100%;
height: 40px;
border-radius: 4px;
border: 1px solid var(--WHITE, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background-color: transparent;
padding-left: 16px;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #FFF;

}



.subscribe {
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
display: flex;
justify-content: center;

}
.footer-form {
    display: flex;
    flex-direction: column;
   
    /* gap:24px; */
    gap: 16px;
}

.footer-btn {
display: flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--WHITE, #FFF);
cursor: pointer;
background-color: #4D5AE5;
border-radius: 4px;
width: 165px;
height: 40px;
border: none;
margin: 0 auto;
}

.footer-subscribe {
    /* margin-left: 56px; */

  
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
/* width: 408px;  */
min-width: 288px;
/* min-height: 584px; */
min-height: 623px;
border-radius: 4px;
background: var(--DAIRY, #FCFCFC);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/* padding: 72px 24px 24px 24px; */
padding: 72px 16px 24px 16px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-close-btn {

position: absolute;
top: 24px;
right: 24px;
display: flex;
border-radius: 50%;
cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0.10);
background-color: #E7E9FC ;
margin-left: auto;
height: 24px;
width: 24px;
align-items: center;
justify-content: center;
padding: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-svg {
    position: relative;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    
}

.modal-close-btn:hover > .close-svg {
   fill: #ffffff; 
}
.modal-close-btn:focus > .close-svg {
    fill: #ffffff;
}
 .modal-title {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
/* width: 360px; */
/* margin-top: 24px; */
margin-bottom: 16px;
}
.modal-field {
 
margin-bottom: 8px;
}
.modal-input {
width: 100%;
height: 40px;
border-radius: 4px;
border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
background-color: transparent;
outline: transparent;
padding-left: 38px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
    border-color: #4D5AE5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
fill: #4D5AE5;
    
}
.modal-input:hover + .modal-icon {
    fill: #4D5AE5;
  
}
.modal-input-wrap {
    position: relative;
}
.modal-lable {
color: var(--LIGHT-SLATE, #8E8F99);
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
display: block;
margin-bottom: 4px;
}



.modal-text {
width: 100%;
height: 120px;
border-radius: 4px;
border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
background-color: transparent;
outline: transparent;
padding: 8px 16px;
resize: none;
color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-bottom: 16px;

}
.comm {
/* margin-bottom: 16px; */
}
.modal-text:focus {
    border-color: #4D5AE5;
}
.check {
margin-bottom: 24px;
}
.check-text {
color: var(--LIGHT-SLATE, #8E8F99);
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
display: inline-flex;
align-items: center;

}
.label-link {
 color: var(--IRIS, #4D5AE5);
font-size: 12px;
font-weight: 400;
line-height: 0.17;
letter-spacing: 0.04em;
text-decoration-line: underline;

}
.check-span {
padding: 2px;;
border-radius: 2px;
width: 16px;
height: 16px;
border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
margin-right: 8px;
align-items: center;
justify-content: center;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button {
display: block;
margin: 0 auto;
min-width: 169px;
height: 56px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}
.check-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.check-input:checked + label span {
 background-color: #404BBF;
 border: none;
 fill: #F4F4FD;
}

@media  screen and (min-width: 768px) {
.container {
max-width: 768px;
}

.menu-btn {
    display: none;
}
.header-menu-list {
    display: flex;
   margin-left: 120px;
}
.header-contacts {
    display: flex;
    align-items: center;
}
.header-contacts-list {
flex-direction: column;
gap: 12px; 

}
.header-contacts-item {
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
}
.header-menu-link {
padding-top: 8px;
padding-bottom: 8px;
}
.main {
padding: 112px 136px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
url(../images/bg-tab.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
url(../images/bg-tab2.jpg);
    }
}
.main-container {
    padding: 0;
}
.main-title {
font-size: 56px;
line-height: 1.07;
max-width: 496px;
 }
 .button {
    margin-top: 36px;
 }
.description-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: space-around;
    
}
.description-item {
    width: calc((100% - 24px) / 2);
}
 
.team > .container {
    max-width: 584px;
}

.team-list {
 row-gap: 64px; 
 column-gap: 24px;
}
.team-list-item {
width: calc((100% - 24px) / 2);
}
.portfolio-list { 
column-gap: 24px;
row-gap: 72px;
}
.portfolio-list-item {
 width: calc((100% - 24px) / 2);
    }


   .footer-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
row-gap: 72px;
column-gap: 24px;
margin-left: 92px;

}
.footer-list {
width: 264px;
}
.footer-logo {
    justify-content: flex-start;
}
.social-media {
  justify-content: flex-start;  
}
.footer-icons {
    display: block;
    width: 208px;
    height: 80px;
    margin: 0;
}
.subscribe {
justify-content: flex-start;
}
.footer-form {
    flex-direction: row;
    gap: 24px;
}
.footer-input {
    width: 264px;
}
.modal {
width: 408px;
min-height: 584px;
padding: 72px 24px 24px 24px;
}
.modal-text {
   margin-bottom: 8px;
}

}



@media screen and (min-width: 1158px) {
.container {
max-width: 1440px;
 }


 .header-container {
padding-left: 140px;
padding-right: 140px;
 }
 .header-navigation {
    display: flex;
    gap: 76px;
 }
.header-contacts-list {
    width: 100%;
    flex-direction: row;
    gap: 40px;
}
.header-contacts-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-menu-list {
   margin: 0;
}


 .main {
max-width: 1440px;
padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)),
url(../images/people-office.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
 .main {
 background-image: linear-gradient(rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
 url(../images/bg-desc2.jpg);
    }
}
 .main-title {
font-size: 56px;
line-height: 1.07;
max-width: 496px;
 }
 .button {
margin-top: 48px;
 }
.description {
padding-top: 120px;
padding-bottom: 120px; 
}
.description-list {
    flex-direction: row;
    gap: 24px;
    padding: 0 140px;
   
}
.desc-icons {
display: flex;
align-items: center;
justify-content: center;
background-color: #F4F4FD;
border-radius: 4px;
border: 1px solid var(--LIGHT-SLATE, #8E8F99);
padding-top: 24px;
padding-bottom: 24px;
margin-bottom: 8px;

height: 112px;
}
.description-item {
width: calc((100% - 72px) / 4);

}
.description-title {
    text-align: start;
font-size: 20px; 
font-weight: 500;
line-height: 1.2;
}
.description-text {
font-weight: 400;
}
 .team {
padding: 120px 0;

 }
 .team>.container {
     max-width: 1158px;
 }
 .team-list {
gap: 24px;
 }
 .team-list-item {
width: calc((100% - 72px) / 4);
 }
.portfolio {
padding-top: 120px;
padding-bottom: 120px;
}
.portfolio-list {
column-gap: 24px;
    }
.portfolio-list-item {
width: calc((100% - 24px * 2) / 3);
}
.footer {
    padding: 100px 0;
    margin: 0 auto;
}

.footer-container {
    min-width: 1158px;
    
    margin: 0;
    width: 100%;
    justify-content: center;
    gap: 80px;
}

.footer-list {
    width: auto;
    padding-right: 40px;
}
}